{% extends 'home/base.html' %}
{% load static %}
{% block title %}Accueil{% endblock %}
{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Catégories</span>
                        </div>
                        <ul>
                            <li><a href="#">Habillement</a></li>
                            <li><a href="#">Télévision</a></li>
                            <li><a href="#">Ordinateur</a></li>
                            <li><a href="#">Outils scolaire</a></li>
                            <li><a href="#">Alimentaire</a></li>
                            <li><a href="#">Voyage</a></li>
                            <li><a href="#">Maison</a></li>
                            <li><a href="#">Automobile</a></li>
                            <li><a href="#">Electronique</a></li>
                            <li><a href="#">Decoration</a></li>
                            <li><a href="#">Accessoires</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    Toutes les catégories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="De quoi avez-vous besoin ?">
                                <button type="submit" class="site-btn">Recherche</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+243 999 999 999</h5>
                                <span>support 24h/7</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="{% static 'img/hero/banner.jpg' %}">
                        <div class="hero__text">
                            <span>FRUIT FRAICHE</span>
                            <h2>Végetal <br />100% Organique</h2>
                            <p>Livraison gratuite disponible</p>
                            <a href="#" class="primary-btn">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Nos Produits</h2>
                    </div>
                    <!-- <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".oranges">Oranges</li>
                            <li data-filter=".fresh-meat">Fresh Meat</li>
                            <li data-filter=".vegetables">Vegetables</li>
                            <li data-filter=".fastfood">Fastfood</li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="row featured__filter">
                {% for prod in products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{{prod.image.url}}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">{{prod.name}}</a></h6>
                            <h5>{{prod.price}} Fc</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    
{% endblock %}
