<div class="col-lg-3 d-none d-lg-block">
    <div class="hero__categories">
        <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Catégories</span>
        </div>
        <ul>
            <li><a href="#">Habillement</a></li>
            <li><a href="#">Télévision</a></li>
            <li><a href="#">Ordinateur</a></li>
            <li><a href="#">Outils scolaire</a></li>
            <li><a href="#">Alimentaire</a></li>
            <li><a href="#">Voyage</a></li>
            <li><a href="#">Maison</a></li>
            <li><a href="#">Automobile</a></li>
            <li><a href="#">Electronique</a></li>
            <li><a href="#">Decoration</a></li>
            <li><a href="#">Accessoires</a></li>
        </ul>
    </div>
</div>